In [49]:
import pandas as pd
import numpy as np

In [50]:
box_info = np.load('data/test_box.npy')

In [51]:
y_test = np.load('data/y_test_model92_90.npy')

In [52]:
y_test.shape

(1008, 136)

In [53]:
y_test[0]

array([0.3804083 , 0.42295462, 0.37029207, 0.4867027 , 0.37263465,
       0.5536281 , 0.38833758, 0.6194913 , 0.40598184, 0.68363774,
       0.42427227, 0.74804574, 0.44193968, 0.80786264, 0.46151742,
       0.86175233, 0.5051    , 0.8857201 , 0.57112217, 0.88675123,
       0.65351784, 0.86169755, 0.7351637 , 0.82392836, 0.80849856,
       0.77205545, 0.8637789 , 0.7033673 , 0.8927377 , 0.61980414,
       0.9079356 , 0.5295656 , 0.9187238 , 0.43843877, 0.3549061 ,
       0.33514947, 0.37103003, 0.32050523, 0.3964118 , 0.33037776,
       0.4218478 , 0.34869313, 0.4449507 , 0.37331578, 0.5135139 ,
       0.38292384, 0.56633615, 0.36662078, 0.62335086, 0.3637387 ,
       0.68133855, 0.37819794, 0.73395115, 0.4072595 , 0.47244233,
       0.4360253 , 0.45595062, 0.4819548 , 0.43738163, 0.52741146,
       0.41878664, 0.57392555, 0.41618735, 0.6034938 , 0.42994627,
       0.61990577, 0.44781622, 0.63001645, 0.47624624, 0.62522817,
       0.5054534 , 0.61996174, 0.3855159 , 0.40715957, 0.40341532,
       0.3918644 , 0.4332816 , 0.39973897, 0.45676225, 0.42999342,
       0.4275787 , 0.4322747 , 0.39834246, 0.42636448, 0.5719589 ,
       0.45045903, 0.5989504 , 0.4277404 , 0.6350246 , 0.4337646 ,
       0.66883117, 0.45459917, 0.634263  , 0.46726573, 0.59883463,
       0.46359318, 0.43454444, 0.71027076, 0.42967105, 0.68523324,
       0.44218773, 0.675968  , 0.45648265, 0.68490225, 0.47791705,
       0.6815492 , 0.52421415, 0.700078  , 0.5754186 , 0.73290384,
       0.52849144, 0.7670694 , 0.48517054, 0.7800405 , 0.46194673,
       0.77823746, 0.44398057, 0.7709131 , 0.43342355, 0.7466643 ,
       0.44424036, 0.7129571 , 0.44481492, 0.702064  , 0.45880896,
       0.7053707 , 0.4805078 , 0.7079029 , 0.55741024, 0.72917706,
       0.48178893, 0.73985344, 0.46066943, 0.73811996, 0.44569597,
       0.72965884], dtype=float32)

In [54]:
y_test_adjusted = np.zeros((y_test.shape))

In [55]:
for i in range(len(y_test)):
    points = y_test[i].reshape((68, 2))
    box = box_info[i]
    top, left, width, height = box
    
    points = points * np.array([width, height])
    points = points + np.array([left, top])
    
    points = points.flatten()
    
    y_test_adjusted[i] = points

box: top, left, width, height

In [56]:
y_test_adjusted[0]

array([153.99680042, 330.58890265, 148.62508786, 364.43913922,
       149.86899877, 399.97651422, 158.20725623, 434.94986922,
       167.57635635, 469.011639  , 177.28857484, 503.21228927,
       186.66997102, 534.97506154, 197.06575182, 563.5904879 ,
       220.20810628, 576.31735939, 255.265872  , 576.86490554,
       299.01797426, 563.56140149, 342.37191868, 543.50595713,
       381.31273609, 515.96144241, 410.66659015, 479.48803252,
       426.0437116 , 435.11600041, 434.11381388, 387.19931912,
       439.84234929, 338.81098855, 140.45514545, 283.96436697,
       149.01694733, 276.18827799, 162.49466917, 281.43058926,
       176.00117674, 291.1560533 , 188.2688216 , 304.2306799 ,
       224.67589295, 309.33255982, 252.72449827, 300.67563367,
       282.99930596, 299.14524218, 313.79076934, 306.82310519,
       341.72806138, 322.25479135, 202.86687666, 337.52942988,
       194.10977805, 361.9180057 , 184.24964297, 386.05548573,
       174.37570846, 410.75446957, 172.99548072, 426.45521295,
       180.30147126, 435.16996378, 189.79041436, 440.53873289,
       204.88675225, 437.99615645, 220.39575952, 435.19968319,
       156.70894209, 322.20173001, 166.21353614, 314.07999066,
       182.07252985, 318.2613917 , 194.540757  , 334.32650647,
       179.04428315, 335.53786528, 163.51984647, 332.39953965,
       255.71017563, 345.19374666, 270.04265499, 333.13014978,
       289.19806641, 336.32900617, 307.14935106, 347.39216027,
       288.79364187, 354.11810005, 269.98119056, 352.16798121,
       182.74309981, 483.15377486, 180.15532708, 469.85884798,
       186.80168277, 464.93900341, 194.39228654, 469.68309516,
       205.77395108, 467.90262067, 230.35771286, 477.74142361,
       257.54727209, 495.17193806, 232.62895328, 513.31385106,
       209.62555844, 520.20150685, 197.29371142, 519.24409235,
       187.75368512, 515.35486889, 182.14790449, 502.47873569,
       187.89163193, 484.5802117 , 188.19672275, 478.79597217,
       195.62755698, 480.55185455, 207.14963704, 481.89644432,
       247.98483753, 493.19301766, 207.82992357, 498.86217755,
       196.61546633, 497.94169867, 188.6645582 , 493.44884515])

In [57]:
np.save('data/test_y_postprocessed.npy',y_test_adjusted)

In [68]:
last_array = y_test_adjusted.flatten()

In [69]:
last_array = np.rint(last_array)

In [70]:
export = pd.DataFrame(last_array)

In [71]:
export

            0
0       154.0
1       331.0
2       149.0
3       364.0
4       150.0
...       ...
137083  141.0
137084  323.0
137085  141.0
137086  318.0
137087  141.0

[137088 rows x 1 columns]

In [72]:
export.to_csv('model92_90_results_rounded_more.csv',index=True, header=True)

In [ ]:
def show_image_with_box_and_points(image, box, keypoints):
    
    fig = plt.figure(figsize=(8, 10))
    
    ax = fig.subplots()

    ax.imshow(image)
    rect = patches.Rectangle((box[1], box[0]), box[2], box[3], linewidth=1, edgecolor='r', facecolor='none')
    ax.add_patch(rect)
    if keypoints: 
    
        ax.scatter(*zip(*(keypoints)))