In [18]:
import pandas as pd
import numpy as np

In [34]:
box_info = np.load('data/test_box.npy')

In [59]:
y_test = np.load('data/y_test_lastchance.npy')

In [36]:
img_sizes = np.load('data/test_imgsizes.npy')

In [60]:
y_test.shape

(1008, 136)

In [61]:
y_test[0]

array([0.3744375 , 0.43001842, 0.36269194, 0.49141333, 0.36371443,
       0.55870676, 0.38021657, 0.6256271 , 0.40009576, 0.69034415,
       0.42053226, 0.7543699 , 0.43924487, 0.81214094, 0.4595842 ,
       0.8644774 , 0.5028385 , 0.88750196, 0.57255214, 0.8846736 ,
       0.65732443, 0.85377073, 0.73791784, 0.81223834, 0.8090466 ,
       0.7596466 , 0.86145914, 0.6929941 , 0.8884812 , 0.61483437,
       0.90117204, 0.5305991 , 0.9091671 , 0.44473225, 0.35176855,
       0.33018383, 0.37037745, 0.3199939 , 0.39694974, 0.3317019 ,
       0.4216676 , 0.35039157, 0.44566876, 0.37583542, 0.516404  ,
       0.38621685, 0.56977355, 0.37231204, 0.62703055, 0.37092796,
       0.68375385, 0.38507804, 0.73517966, 0.4119099 , 0.47361478,
       0.43782163, 0.45779437, 0.4820453 , 0.43951616, 0.52551347,
       0.42105854, 0.5695267 , 0.4120742 , 0.6012032 , 0.42722467,
       0.6163993 , 0.4472265 , 0.6253658 , 0.47469753, 0.6223246 ,
       0.50540537, 0.6184785 , 0.38156858, 0.40721893, 0.39944246,
       0.39288363, 0.42929435, 0.40137917, 0.4534859 , 0.4316315 ,
       0.42256507, 0.43294528, 0.39335528, 0.4264012 , 0.5720033 ,
       0.45327875, 0.5987632 , 0.43082386, 0.63528687, 0.43700656,
       0.6708191 , 0.4587359 , 0.63454765, 0.47042787, 0.5984659 ,
       0.46622747, 0.42065054, 0.71023035, 0.41798708, 0.68188375,
       0.43609232, 0.6705286 , 0.45331055, 0.6804735 , 0.47555503,
       0.67684567, 0.523412  , 0.6978737 , 0.57479626, 0.73265046,
       0.5275607 , 0.7767914 , 0.48120517, 0.7924319 , 0.45644647,
       0.7907438 , 0.4363047 , 0.78299785, 0.42065623, 0.7557242 ,
       0.4307568 , 0.71157634, 0.43782663, 0.6980658 , 0.45507059,
       0.70219374, 0.47654977, 0.7046017 , 0.55605537, 0.7305392 ,
       0.47912946, 0.7502787 , 0.45642406, 0.7485529 , 0.43835598,
       0.74029744], dtype=float32)

In [62]:
y_test_adjusted = np.zeros((y_test.shape))

In [63]:
total_delta_from_bounding = 0

In [64]:
for i in range(len(y_test)):
    points = y_test[i].reshape((68, 2))
    box = box_info[i]
    top, left, width, height = box
    
    points = points * np.array([width, height])
    points = points + np.array([left, top])
    
    
    maxheight, maxwidth = img_sizes[i]
    
    points_bounded = np.maximum(points, np.array([0,0]))
    points_bounded = np.minimum(points_bounded, np.array([maxwidth, maxheight]))
    
    points_bounded = points_bounded.flatten()
    points = points.flatten()

    total_delta_from_bounding += np.sum(np.abs(points_bounded - points))
    
    y_test_adjusted[i] = points_bounded

In [65]:
total_delta_from_bounding/137088

0.01791220597358008

box: top, left, width, height

In [66]:
y_test_adjusted[0]

array([150.82631832, 334.33978367, 144.58941954, 366.94047561,
       145.13236061, 402.67328978, 153.89499798, 438.20799035,
       164.450849  , 472.57274622, 175.30262813, 506.57042462,
       185.23902404, 537.24684   , 196.03921357, 565.03749728,
       219.00723946, 577.26353812, 256.02518874, 575.76167917,
       301.0392741 , 559.35225916, 343.8343733 , 537.29855621,
       381.60375845, 509.37234169, 409.43480122, 473.97987652,
       423.78351706, 432.47704953, 430.52235425, 387.74813128,
       434.7677359 , 342.1528241 , 138.78910178, 281.32761577,
       148.67042658, 275.9167679 , 162.78031102, 282.13371131,
       175.90549859, 292.05792195, 188.65010995, 305.56860733,
       226.21050972, 311.08114687, 254.5497576 , 303.69769278,
       284.95322281, 302.96274659, 315.07329333, 310.4764407 ,
       342.3804009 , 324.72416118, 203.48944929, 338.48328376,
       195.08880955, 361.96605051, 185.38307932, 385.04765266,
       175.58208239, 408.41866302, 170.81140459, 425.2389009 ,
       178.85629758, 433.30802202, 189.47726861, 438.06923646,
       204.06438857, 436.45435512, 220.37024957, 434.41207129,
       154.61291644, 322.23325348, 164.10394844, 314.62120679,
       179.95529866, 319.13233823, 192.80101615, 335.19632941,
       176.38205364, 335.89394435, 160.87165377, 332.41903609,
       255.73375493, 346.69101635, 269.94327378, 334.76747102,
       289.33732671, 338.05048493, 308.20494407, 349.58876982,
       288.94480258, 355.79719937, 269.78540325, 353.56678754,
       175.36543769, 483.13231611, 173.95113865, 468.0802725 ,
       183.56502038, 462.05068165, 192.70790166, 467.33143193,
       204.51972225, 465.40505064, 229.93176627, 476.57094085,
       257.21681374, 495.03739363, 232.13473749, 518.47623008,
       207.51994282, 526.7813341 , 194.37307495, 525.88497257,
       183.67778957, 521.77185655, 175.36846027, 507.28954577,
       180.73186469, 483.84703791, 184.48594236, 476.67294902,
       193.64248064, 478.86487436, 205.04793021, 480.14350539,
       247.26539987, 493.91631663, 206.41774508, 504.39799571,
       194.36117452, 503.48159969, 184.7670266 , 499.0979389 ])

In [67]:
np.save('data/test_y_postprocessed.npy',y_test_adjusted)

In [68]:
last_array = y_test_adjusted.flatten()

In [54]:
last_array_rounded = np.rint(last_array)

In [57]:
np.sum(last_array_rounded - last_array)/137088

0.00046455082470545913

In [69]:
export = pd.DataFrame(last_array)

In [70]:
export

                 0
0       150.826318
1       334.339784
2       144.589420
3       366.940476
4       145.132361
...            ...
137083  140.989805
137084  322.957449
137085  141.439827
137086  317.990211
137087  140.686810

[137088 rows x 1 columns]

In [71]:
export.to_csv('lastchance.csv',index=True, header=True)